
.lora-uniquifier{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*nav style*/
.head-main{
    margin-top: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
 
 
}
.pure{
    margin-top: 20px;
}
.search-bar{
    position: relative;
}
.search-bar input{
    background-color: rgb(241, 241, 241);
    border-radius: 66px;
    border: none;
    padding: 15px 30px;
    width: 500px;
    color: rgb(204, 204, 204);
    margin-top: 10px;
}
.search-bar i{
    position: absolute;
right: 20px;
top: 25px;
color: rgb(186, 186, 186);

}
nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 40px;
    margin-top: 24px;
}
nav ul li{
    font-size: 12px;
    font-weight: bold;
}
nav ul a{
    text-decoration: none;
     color: rgb(112, 112, 112);
}
nav ul a:hover{color: black;}
/*nav-style-mobile*/
@media screen and (max-width: 576px) {
    .container{
        flex-direction: column;
        align-items: center; 
    }
    .search-bar input{
        padding: 15px 30px;
        width: 250px;
    }
}

/*nav-style-tab*/
@media  screen and (min-width: 576px) and (max-width:990px) {

    .container{
        flex-direction: column;
        align-items: center;
    }
}

/*********************/

/*section one-banner*/

.first-container{
    background-color: rgb(254, 234, 233);
    max-width: 1212px;
    height: 375px;
   margin-top: 35px;
padding: 35px;
 border: none;
     border-radius: 15px;  
     display: flex;
    justify-content: space-between;
   align-items: center;
   margin-left: 111px;
   margin-right: 117px;
}
.main-description h3{
    font-size: 46px;
    font-weight: 700px;
    color: rgb(31, 31, 31);
    height: 20px;
}
.main-description p{
    font-weight: 400px;
    color: rgb(78, 78, 78);
    width: 400px;
    height: 35px;

}
.price{
    font-size: 41px;
    font-weight: bold;
    color: rgb(255, 19, 111);
    width: 112px;
    height: 0px;
    
}
.main-description button{
    background-color:rgb(247, 41, 120) ;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px 20px;
    font-weight: bold;
}
.img-container img{
  width: 402px;
height: 378px;
}

/*section-one-mobile*/


@media screen and (max-width: 576px) {
    .first-container{
        flex-direction: column;
        background-color: rgb(254, 234, 233);
        width: 250px;
        height: 420px;
        margin-top: 25px;
        padding: 10px;
        margin:0 auto ;
        align-items: center;


    }
.main-description h3{
    font-size: 20px;
    text-align: center;
    height: 20px;
}
.main-description p{
    font-size: 13px;
   width: 200px;
   height: 50px;
   
}
.price{
    font-size: 30px;
  
}
.main-description button{
    padding: 10px 16px;
    font-size: 14px;
   
}
.img-container img{
     width: 202px;
height: 178px;
}
}
/*section-one-tab*/


/*********************/

/*section-two-banner*/
.second-container{
    max-width: 1130px;
    height: 200px;
    margin-left: 107px;
}

.second-container h3{
    font-size: 36px;
    font-weight: bold;
    height: 30px;
}
.second-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}

.second-box{
display: flex;
justify-content: space-around;
align-items: center;
}
.second-box h4{
    font-size: 36px;
    font-weight:500px;
    color: rgba(255, 255, 255, 1.00);
}
.second-box img{
    width: 80px;
    height: 54px;
}
#watch{
    background-color: rgba(255, 156, 53, 1.00);
    border-radius:12px;
    width: 350px;
    height: 120px;
}
#bag{
    background-color: rgba(255, 88, 155, 1.00);
    border-radius:12px;
    width: 350px;
    height: 120px;
}
#shoe{
    background-color: rgba(66, 137, 255, 1.00);
    border-radius:12px;
    width: 350px;
    height: 120px;
}

/*section-two-mobile*/
@media screen and (max-width: 576px) {
    .second-main{

display: grid;
grid-template-columns: repeat(1, 1fr);
   align-items: center;
    }
    .second-container h3{
       padding-left: 40px;
    }
    #watch{
    width: 260px;
    height: 80px;
    
}
#bag{
    width: 260px;
    height: 80px;
    
}
#shoe{
    width: 260px;
    height: 80px;
}
}
/*section-two-tab*/

/*********************/

/*section-three*/

.sec-three{
    margin-left: 100px ;
}
.three-head{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.three-head h5{
    color: rgba(255, 157, 0, 1.00);
    margin-right: 100px;
}
.sec-three h2{
    font-size: 36px;
    font-weight: bold;
}
.shoe-main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}
.shoe-container{
    background-color: wheat;
    border-radius: 24px;
    box-shadow: 20px black;
    width: 320px;
    height: 420px;
    text-align: center;
}
.shoe-container img{
    width: 250px;
    height: 170px;
}

.shoe-container h3{
    font-size: 25px;
    font-weight: 500px;
    height: 15px;
}
.shoe-container p{
    font-size: 15px;
    color: rgba(78, 78, 78, 1.00);
    width: 250px;
    height: 30px;
  margin: 0 auto;
}
.shoe-container h4{
    font-size: 25px;
    font-weight: 500px;
    height: 10px;
}
.btn-primary{
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
}

/*section-three-mobile*/
/*section-three-tab*/

/*section-four*/

.sec-four{
    margin-left: 100px ;
}
.four-head{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.four-head h5{
    color: rgba(255, 157, 0, 1.00);
    margin-right: 100px;
}
.sec-four h2{
    font-size: 36px;
    font-weight: bold;
}
.bag-main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}
.bag-container{
    background-color: wheat;
    border-radius: 24px;
    box-shadow: 20px black;
    width: 320px;
    height: 420px;
    text-align: center;
}
.bag-container img{
    width: 250px;
    height: 170px;
}

.bag-container h3{
    font-size: 25px;
    font-weight: 500px;
    height: 15px;
}
.bag-container p{
    font-size: 15px;
    color: rgba(78, 78, 78, 1.00);
    width: 250px;
    height: 30px;
  margin: 0 auto;
}
.bag-container h4{
    font-size: 25px;
    font-weight: 500px;
    height: 10px;
}
.btn-primary{
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
}

/*section-four-mobile*/
/*section-four-tab*/

/*footer*/

.footer-container{
   text-align: center;
   background-color: rgba(255, 242, 241, 1.00);
   width: 1100px;
   height: 355px;
   margin-top: 50px;
   margin-left: 125px;
   border-radius: 24px;
}
.footer-description{
   padding-top: 9%;
}
.footer-description h2{
    font-size: 45px;
    height: 20px;
}
.footer-description p{
    font-size: 15px;
    color: rgba(112, 112, 112, 1.00);
}
.footer-description input{
padding: 10px 30px;
width: 300px;
border: none;
border-radius: 14px 0 0 14px;
background-color: rgb(238, 146, 146);
color: black;
}
.btn-secondary{
    padding: 10px 30px;
    border: none;
    color: white;
    background-color:rgba(255, 88, 155, 1.00) ;
border-radius: 0 14px 14px 0;
cursor: pointer;
}
.btn-secondary:hover{
    background-color:rgb(233, 72, 72) ;
    color: black;
}















